<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="firefox"></parameter>
   <listeners>
       <listener class-name="utils.ListenerTest"/>
  </listeners>
  <test name="Test" parallel="false">
    <classes>
      <class name="com.infiniviewAutomation.tests.LoginpageTest"/>
      <class name="com.infiniviewAutomation.database.tests.KpidbTest"/>
    </classes>
  </test> <!-- Test -->
  <!-- <parameter name="browser" value="firefox"></parameter> -->
</suite> <!-- Suite -->
